<header>
  <nav>

    <div class="nav-left">
      <div class="hamburger" (click)="toggleMenu()">
        <svg viewBox="0 0 24 24" class="hamburger-icon">
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </div>

      <div class="logo">
        <img src="img/front/LOGO.png" alt="logo">
      </div>

      <div class="search-bar">
        <img src="img/front/Pokeball.png" class="search-icon" alt="search">
        <input type="text" placeholder="Rechercher une IST...">
      </div>
    </div>

    <!-- MENU -->
    <ul class="nav-menu" [class.open]="menuOpen">

      <li>
        <a routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="menuOpen = false">
        ACCUEIL
      </a>
    </li>

    <li>
      <a routerLink="/prevention"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="menuOpen = false">
      PREVENTION
    </a>
  </li>

  <li>
    <a routerLink="/collection"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="menuOpen = false">
    COLLECTION
  </a>
</li>

<li>
  <a routerLink="/quizz"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  (click)="menuOpen = false">
  QUIZZ
</a>
</li>


<li>
  <a routerLink="/jeux"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  (click)="menuOpen = false">
  JEUX
</a>
</li>

<li>
  <a routerLink="/connexion"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  (click)="menuOpen = false">
  CONNEXION
</a>
</li>

</ul>

</nav>
</header>
