<div class="overlay">
    <div id="pannel-booster">
        <div class="booster" (click)="isOpen = true">
            

                <div class="booster-top" [class.open]="isOpen">TOP
                    <div class="booster-shine"></div> 
                </div>

                <div class="booster-bottom" [class.open]="isOpen">BOTTOM
                    <div class="booster-shine"></div> 
                </div>


        </div>
        <div id="text-click">CLIQUE POUR OUVRIR TON BOOSTER</div>
    </div>
</div>