.all {
  height: 500px;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--green);

  border-radius: 25px;
}

.ligne3 img{
  width: 150px;
  height: 150px;
}
