<div class="allcarte" #allcarte>
  <div class="carte" #carte>
    <!-- Foil / shimmer / glare layers -->
    <div class="foil" #foil></div>
    <div class="shimmer" #shimmer></div>
    <div class="glare" #glare></div>

    <!-- Corner decorations -->
    <div class="corner corner-tl"></div>
    <div class="corner corner-tr"></div>
    <div class="corner corner-bl"></div>
    <div class="corner corner-br"></div>

    <div class="ligne1">VIH</div>

    <div class="ligne2">
      <div class="ist-type">🦠</div>
      <div class="power">⭐⭐⭐⭐⭐</div>
    </div>

    <div class="ligne3"><img src="/img/virus/VIH.PNG"/></div>

    <div class="ligne4">💉🍆</div>

    <div class="ligne5">{{ vih.desc }}</div>

    <!-- <app-card-popup [ist]="ist()" /> -->
   </div>
</div>

