@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Barlow:wght@400;600;700&display=swap');

:root {
  /* Fonts */
  --font-petit: 'Bebas Neue', sans-serif;
  --font-grand: 'Barlow', sans-serif;

  /* Couleurs principales */
  --green: #63ceaa;
  --green-light : #4db6ac;
  --green-dark: #055c5c;
  --green-deep: #02333a;

  --pink: #ff6f91;
  --pink-light : #ff9ac1;
  --pink-pastel : #ffc1e3;

  --blue-electric: #0288d1;

  /* Couleurs Neutres */
  --white: #ffffff;
  --cream: #f0e7e3;
  --yellow-soft: #fffb8f;

  /* Surfaces */
  --field-bg: rgba(255,255,255,0.13);
  --field-border: rgba(255,255,255,0.35);

  --text-shadow: 2px 2px 8px rgba(0,0,0,0.35);

  /* Couleurs globales */
  --text-color: #333;
  --background-color: #f7f8fc;
}

body {
  background: var(--background-color);
  font-family: var(--font-grand);
  line-height: 1.6;
  color: var(--text-color);
  padding-top: 80px;
}
