/* ---------------- GLOBAL ---------------- */
html, body {
    background: var(--cream);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-grand);
    overflow: hidden;
}

#auth-pannel {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green);
    border-radius: 25px;
    padding: 50px;
    margin: 90px 15px 15px 15px;
    height: calc(100dvh - 105px);
    width: 100%;
    box-sizing: border-box;

    background-image: 
        linear-gradient(rgba(87, 9, 24, 0.9)),   /* dégradé pour assombrir */
        url('/img/front/background_virus.png');
}

/* ---------------- FOMULAIRE ---------------- */
.form-input {
    display: flex;
    flex-direction: column;
    background: var(--field-bg);
    border-radius: 12px;
    padding: 5px 15px;
    margin: 5px;
    transition: border-color .2s, background .2s;
    border: 1.5px solid var(--field-border);
}

.form-input:focus-within {
    filter: brightness(1.5);
}

.form-input input {
    background: none;
    border: none;
    outline: none;
}

/* ---------------- IMAGE PERSONNAGE ---------------- */