/* ---------------- GLOBAL ---------------- */
html, body {
    background: var(--cream);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-petit);
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--cream);
    overflow: hidden;
}

#auth-pannel {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green);
    border-radius: 25px;
    padding: 50px;
    margin: 15px;
    height: calc(100dvh - 105px);
    width: 100%;
    box-sizing: border-box;

    background-image: 
        linear-gradient(#8b306599),
        url('/img/front/user_f_reverse.png'),
        linear-gradient(var(--pink-dark-transparent)),
        url('/img/front/background_virus.png');

    background-size: auto, 40%, auto, cover;
    background-position: center, left 5% top -50px, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

    position: relative;
    overflow: hidden;
}

/* ---------------- FOMULAIRE ---------------- */
#auth-zone {
    width: 50%;
    margin-left: 20%;
}

.form-input {
    display: flex;
    flex-direction: column;
    background: color-mix(in srgb, var(--cream) 90%, transparent);
    color: var(--pink-dark);
    border-radius: 12px;
    padding: 5px 15px;
    margin: 5px;
    transition: border-color .2s, background .2s;
    width: 400px;
}

.form-input:focus-within {
    filter: brightness(1.1);
}

.form-input input {
    background: none;
    border: none;
    outline: none;
}

.form-input input::placeholder {
    color: rgba(0, 0, 0, 0.50);
    font-weight: 300;
}

.invalid-feedback {
    color: var(--green-dark);
    font-weight: 300;
}

.create-account {
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px
}

button, .btn-success {
    font-family: var(--font-petit);
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: color-mix(in srgb, var(--green-dark) 80%, transparent);
    color: var(--cream);
    border: none;
    border-radius: 12px;
    padding: 14px 30px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

button:hover, .btn-success:hover {
    filter: brightness(1.1);
    scale: 1.02;
}

button:disabled, input[type="submit"]:disabled, .btn-success:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: none;
    scale: 1;
}

/* ---------------- IMAGE PERSONNAGE ---------------- */

#img-zone {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-zone::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 150%;
    background: var(--cream);
    border-radius: 50%;
    z-index: 0;
    margin-top:40%;
    margin-left:40%;
}

#img-zone img {
    margin-top:35%;
    height: 140%;
    width: auto; /* garde les proportions */
    z-index: 1;
}