<section class="section" id="middle-cards">
  <div class="cards-with-image">

    <div class="infirmier">
      <img src="public/img/front/JOEL.png" alt="Infirmier" class="characters">
      <div class="bubble">Salut ! Moi c’est Joël, je suis l’infirmier en mission pour t’en apprendre plus sur les IST !</div>
    </div>

    <div class="cards-column">
      <h2>Explore ton ISTédex</h2>
      <p>Choisis une catégorie et découvre toutes les informations !</p>

      <div class="cards middle-cards">
        <div class="card-stack">
          <div class="card">
            <h3>Les IST fréquentes</h3>
            <p>Découvre les infections les plus courantes et comment les reconnaître.</p>
          </div>

          <div class="card">
            <h3>Guide de prévention</h3>
            <p>Apprends les bonnes pratiques pour te protéger efficacement.</p>
          </div>

        </div>

        <div class="card">
          <h3>Vrai ou Faux</h3>

          <table class="quiz-table">
            <tr><td>Le préservatif protège de toutes les IST</td></tr>
            <tr><td>On peut avoir une IST sans symptôme</td></tr>
            <tr><td>L’herpès génital se guérit complètement avec un traitement</td></tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</section>
