.cards-with-image {
  position: relative;
  display: flex;
  justify-content: center;
}

.infirmier {
  position: absolute;
  left: -310px;
  bottom: 0;
}

.characters {
  max-height: 450px;
}

.bubble {
  position: absolute;
  bottom: 85%;
  left: 400px;
  max-width: 250px;
  padding: 1rem 1.2rem;
  background: var(--yellow-soft);
  color: #333;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 25px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  opacity: 0;             /* invisible au départ */
  transform: scale(0);    /* réduit au départ */
  transition: all 0.5s ease;
  z-index: 10;
}

.bubble.show {
  opacity: 1;
  transform: scale(1);
}


.bubble::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 20px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right: 30px solid var(--yellow-soft);
}

.cards-column {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.middle-cards {
  display: flex;
  gap: 2rem;
  align-items: stretch;
  margin-left: 180px;
}

.card-stack {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}

.middle-cards .card {
  padding: 1.5rem;
  border-radius: 20px;
  border: 2px solid var(--green-light);
  background: var(--white);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1; /* pour avoir l'effet pop meme avec Joel */
}

.middle-cards > .card:last-child {
  width: 50%;
  max-width: none;
}

#middle-cards {
  text-align: center;
  padding: 3rem 2rem;
}

#middle-cards h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--green-light);
}

#middle-cards p {
  max-width: 600px;
  margin: 0 auto 2rem;
  font-size: 1rem;
  color: var(--text-color);
}

.middle-cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.middle-cards .card h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: var(--pink-light);
}

.middle-cards .card p {
  font-size: 1rem;
  color: var(--text-color);
}
.quiz-table {
  width: 100%;
  border-spacing: 0 10px;
}

.quiz-table td {
  background: white;
  text-align : center;
  vertical-align: middle;
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  border-left: 6px solid var(--green-light);
}

.quiz-table td:hover {
  transform: translateX(8px) scale(1.02);
  background: #f1fbfa;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  border-left: 6px solid var(--pink);
}

.quiz-table td:active {
  transform: scale(0.98);
}

#scroll-trigger {
  height: 50px;
}
