<section class="section" id="middle-cards">
  <div class="cards-with-image">

    <div class="infirmier">
      <img src="img/front/JOEL.png" alt="Infirmier" class="characters">
      <div class="bubble">Salut ! Moi c’est Joël, je suis l’infirmier en mission pour t’en apprendre plus sur les IST !</div>
    </div>

    <div class="cards-column">
      <h2>Explore ton ISTédex</h2>
      <p>Choisis une catégorie et découvre toutes les informations !</p>

      <div class="cards middle-cards">
        <div class="card-stack">
          <div class="card">
            <h3>Les IST fréquentes</h3>
            <img src="img/virus/chlamydia.PNG" alt="Chlamydia" class="chlamydia">
            <img src="img/virus/papillomavirus.PNG" alt="Papillomavirus" class="papillomavirus">
            <img src="img/virus/syphillis.PNG" alt="syphillis" class="syphillis">
            <img src="img/virus/VIH.PNG" alt="VIH" class="VIH">
            <img src="img/virus/hepatiteB.PNG" alt="hepatiteB" class="hepatiteB">
            <p>Découvre les infections les plus courantes et comment les reconnaître.</p>
          </div>

          <div class="card">
            <h3>Guide de prévention</h3>
            <img src="img/front/Prevention.PNG" alt="Prevention" class="Prevention">
            <p>Apprends les bonnes pratiques en t'amusant pour te protéger efficacement.</p>
          </div>

        </div>

        <div class="card">
          <h3>QCM</h3>
          <img src="img/front/Quizz.png" alt="Quizz" class="Quizz">

          <p class="question">
            Pourquoi faut-il éviter les corps gras avec un préservatif en latex ?</p>

            <table class="quiz-table">
              <tr><td>Ils peuvent fragiliser le latex et favoriser la rupture</td></tr>
              <tr><td>Ils rendent le test VIH faussement positif</td></tr>
              <tr><td>Ils annulent la vaccination HPV</td></tr>
              <tr><td>Ils provoquent toujours une IST</td></tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </section>
